@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #cecece; }

.eraser {
  clear: both; }

body, html {
  background-color: #c3af50;
  transition: background-color 0.5s linear;
  font-family: 'Roboto', sans-serif; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }
  .wrapper .phone {
    width: 270px;
    border: 4px solid #ececec;
    background-color: white;
    padding: 0px 15px;
    border-radius: 30px;
    box-shadow: 0px 10px 25px rgba(51, 51, 51, 0.3); }

.up-panel {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .up-panel .up-panel-camera {
    width: 6px;
    height: 6px;
    background: red;
    float: left;
    background-color: #cecece;
    border-radius: 30px; }
  .up-panel .up-panel-speaker {
    width: 35px;
    height: 6px;
    background: blue;
    margin: 0 0 0 10px;
    background-color: #cecece;
    border-radius: 30px; }

.screen::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308622/rockstar-album-cover.jpg");
  background-size: cover;
  opacity: 0.15;
  filter: blur(4px); }

.screen {
  height: 400px;
  background-color: #222;
  position: relative;
  text-align: center; }
  .screen .nav-bar {
    width: 100%;
    height: 20px; }
  .screen .album-img {
    width: 180px;
    height: 180px;
    margin: 10px auto;
    display: block; }
  .screen .title {
    margin-bottom: 5px;
    font-size: 16px; }
  .screen .artist {
    margin-bottom: 5px;
    font-size: 13px; }

.proggres-bar {
  margin: 10px 20px;
  position: relative;
  z-index: 99; }
  .proggres-bar .start-time, .proggres-bar .end-time {
    float: left;
    font-size: 11px; }
  .proggres-bar .end-time {
    float: right; }
  .proggres-bar .zip {
    width: 100%;
    margin: 0 auto; }
    .proggres-bar .zip .zip-slider {
      -webkit-appearance: none;
      width: 100%;
      height: 5px;
      border-radius: 15px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s; }
    .proggres-bar .zip .zip-slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer; }
    .proggres-bar .zip .zip-slider::-moz-range-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer; }
    .proggres-bar .zip .zip-slider::hover {
      opacity: 1; }
  .proggres-bar .controll-panel {
    width: 100%;
    display: table;
    margin-top: -10px; }
    .proggres-bar .controll-panel .btn-next, .proggres-bar .controll-panel .btn-prev, .proggres-bar .controll-panel .btn-start {
      background-image: url("img/next.png");
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      display: inline-block;
      background-size: contain;
      width: 30px;
      height: 30px;
      vertical-align: middle;
      display: table-cell; }
    .proggres-bar .controll-panel .btn-prev {
      background-image: url("img/prev.png");
      width: 30px;
      height: 30px; }
    .proggres-bar .controll-panel .btn-start {
      background-image: url("img/play.png");
      width: 80px;
      height: 80px; }
    .proggres-bar .controll-panel .volume {
      width: 50px; }
      .proggres-bar .controll-panel .volume .volume-slider {
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        border-radius: 15px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s; }
      .proggres-bar .controll-panel .volume .volume-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer; }
      .proggres-bar .controll-panel .volume .volume-slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer; }
      .proggres-bar .controll-panel .volume .volume-slider::hover {
        opacity: 1; }
  .proggres-bar button {
    margin-top: 10px; }

.home-button {
  margin: 15px auto;
  display: block;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 3px solid #ececec;
  border-radius: 30px;
  position: relative; }
